/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html, body, header, nav, h1, a,
 ul, li, strong, main, button, i,
 section, img, div, h2, p, form,
 fieldset, label, input, textarea,
 span, article, footer, time, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   color: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   box-sizing: inherit;
   background: transparent;
 }

 ul {
   list-style: none;
 }

 img {
   display: block;
   width: 100%;
   height: auto;
 }

 input[type="password"],
 input[type="email"],
 input[type="text"],
 input[type="submit"],
 textarea,
 button {
   -webkit-appearance: none;
   -moz-appearance: none;
 }

 button,
 input[type="submit"] {
   cursor: pointer;
 }

 /* Clearfix */

 .group:after {
   content: "";
   display: block;
   clear: both;
 }

 .top-header{
   display: block;
   height: 50px;
   width: 100%;
 }

 .placeholder{
   float:left;
 }

 .log-in{
   float: right;
 }

 .page-header{
   background: black;
   display: block;
   height: 50px;
 }

 .pretty{
   text-align: center;
   color: white;
   font-size: 40px;
   height: 700px;
   width: 100%;
       /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffc019+0,ff7b9c+40,fc7279+73 */
    background: rgb(255,192,25); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,192,25,1) 0%, rgba(255,123,156,1) 40%, rgba(252,114,121,1) 73%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,192,25,1) 0%,rgba(255,123,156,1) 40%,rgba(252,114,121,1) 73%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(255,192,25,1) 0%,rgba(255,123,156,1) 40%,rgba(252,114,121,1) 73%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc019', endColorstr='#fc7279',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    copy

 }

 .footer{
   text-align: center;
   color: black;
   font-size: 30px;
   height: 300px;
   display: block;
   width: 100%;
   bottom: 0px;
 }
 .login{
   position: absolute;
   top: 0px;
   left: 0px;
   right: 0px;
   bottom: 0px;
   margin: auto;
   background: rgba(0, 0, 0, 0.4);

 }

 .login-form{
   position: absolute;
   padding: 90px;
   height: 300px;
   width: 300px;
   background: white;
   left: 50%;
   top: 50%;
   transform: translateY(-50%) translateX(-50%);
 }

 .username, .password{
   background-color: #fff;
   border: 1px solid #CDCFD2;
   border-radius: 3px;
   color: #1B2432;
   height: 40px;
   margin: 0;
   padding: 0 0 0 10px;
   width: 100%
 }

 .login-field{
   top: 50px;
 }
