/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html, body, header, nav, h1, a,
 ul, li, strong, main, button, i,
 section, img, div, h2, p, form,
 fieldset, label, input, textarea,
 span, article, footer, time, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-family: "haptik","Helvetica Neue",Arial,sans-serif;
   color: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   box-sizing: inherit;
   background: transparent;
 }

 ul {
   list-style: none;
 }

 img {
   display: block;
   width: 100%;
   height: auto;
 }

 input[type="password"],
 input[type="email"],
 input[type="text"],
 input[type="submit"],
 textarea,
 button {
   -webkit-appearance: none;
   -moz-appearance: none;
 }

 button,
 input[type="submit"] {
   cursor: pointer;
 }

 /* Clearfix */

 .group:after {
   content: "";
   display: block;
   clear: both;
 }

 .top-header{
   display: block;
   height: 50px;
   width: 100%;
 }

 .placeholder{
   float:left;
 }

 .log-in{
   top: 50%;
   transform: translateY(50%);
   float: right;
 }

 .login-link{
   width: 70px;
   position: relative;
   text-align: center;
   color: #696969;
   display: inline-block;
   height: 20px;
   font-size: 16px;
   padding:  5px 5px;
   background-color: #fff;
   border: 1px solid #6a67ce;
   border-radius: 3px;
   text-align: center;
   top: 50%;
   right: 25px;
   bottom: 5px;
   transition: all 0.5s ease;
   transition-property: -webkit-box-shadow, background-color, color, border;
 }

 .login-link:hover{
   background-color: #696969;
   color: #fff;
   -webkit-box-shadow: 0 0 0 2px #4d4d4d;
   border: 0px;
 }

 .signup{
   position: relative;
   text-align: center;
   color: #fff;
   display: inline-block;
   height: 20px;
   font-size: 16px;
   padding:  5px 5px;
   background-color: #6a67ce;
   border: 1px solid #6a67ce;
   border-radius: 3px;
   text-align: center;
   top: 50%;
   right: 25px;
   bottom: 5px;
   margin-left: 25px;
   transition: all 0.5s ease;
   transition-property: background-color, -webkit-box-shadow;
 }

 .signup:hover{
   background-color: #7d26cd;
   -webkit-box-shadow: 0 0 0 2px #9b30FF;
 }

 .pretty{
   text-align: center;
   color: white;
   font-size: 40px;
   height: 600px;
   width: 100%;
       /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffc019+0,ff7b9c+40,fc7279+73 */
    background: rgb(255,192,25); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,192,25,1) 0%, rgba(255,123,156,1) 40%, rgba(252,114,121,1) 73%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,192,25,1) 0%,rgba(255,123,156,1) 40%,rgba(252,114,121,1) 73%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(255,185,0,.6) 0%,rgba(252,99,107,.7) 40%,rgba(252,109,146,1) 70%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc019', endColorstr='#fc7279',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
 }

 .below-header{
   position: relative;
   top: 75px;
   padding:50px;
   display: block;
 }

 .footer{
   text-align: center;
   color: black;
   font-size: 30px;
   height: 300px;
   display: block;
   width: 100%;
   bottom: 0px;
 }

 .login{
   position: absolute;
   top: 0px;
   left: 0px;
   right: 0px;
   bottom: 0px;
   margin: auto;
   background: rgba(0, 0, 0, 0.4);
 }

 .login-header{

 }

 .login-form{

   position: absolute;
   padding: 80px;
   height: 300px;
   width: 300px;
   background: rgba(255, 255, 255, 0.9);
   border-radius: 4px;
   left: 50%;
   top: 50%;
   transform: translateY(-50%) translateX(-50%);
 }

 .form-heading{
   position: relative;
   text-align: center;
   font-size: 40px;
   font-weight: 400;
 }

 .field{
   color: #898e95;
   font-size: 12px;
   font-weight: 200;
   padding: 10px;
 }

 .form-fields{
  position: relative;
  top: 50px;
  right: 15px;
 }

 .username, .password{
   background-color: #fff;
   border: 1px solid #CDCFD2;
   border-radius: 3px;
   color: #1B2432;
   height: 40px;
   margin: 5px;
   padding: 0 10px;
   width: 100%;
   font-size: 20px;
 }

 .log-submit{
   position: relative;
   color: #fff;
   background-color: #1AAFD0;
   float: right;
   text-align: center;
   width: 40.5%;
   height: 39px;
   border-radius: 3px;
   top: 90px;
   left: 15px;
   transition: all 0.3s ease;
   transition-property: background, -webkit-box-shadow;
 }

 .log-submit:hover{
   background: #02CEFF;
   -webkit-box-shadow: 0 0 0 3px #80E6FF;
 }

 .empty{
   height: 15px;
   background: #fff;
 }

 .whole-page{

 }

 .sidebar{
   background-color: #2E3C54;
   top: 0;
   left: 0;
   bottom: 0;
   position: absolute;
   padding: 0 2px;
   height: 100%;
   width: 240px;
   z-index: 0;
 }

 .upward-dog-main {
   overflow: hidden;
   position: relative;
   left: 244px;
   width: calc(100% - 244px);
 }

 .task-header{
   display: block;
   height: 60px;
   text-align: center;
   font-family: "proxima-nova","Helvetica Neue",Arial,sans-serif;
   -webkit-box-orient: horizontal;
   -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.9);
 }

 .task-container{
   padding: 15px;
   background: #eee;
   height: 500px;
   display: block;
   position: relative;
 }
 .task-main{
   float: left;
   position: relative;
   background: #fff;
   font-family: "proxima-nova","Helvetica Neue",Arial,sans-serif;
   border-radius: 3px;
   -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
   padding: 2px;
   width: calc(50% - 15px);
   text-align: center;
   height: 100%;
   bottom: 0;
 }

 .task-list{
   background: #fff;
 }

 .task-form{
   float: right;
   position: relative;
   right: 15px;
   background: #fff;
   font-family: "proxima-nova","Helvetica Neue",Arial,sans-serif;
   border-radius: 3px;
   -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
   padding: 2px;
   width: calc(50% - 30px);
   height: 100%;
   bottom: 0;
 }

 .new-task{
   background-color: #fff;
   border: 1px solid #CDCFD2;
   border-radius: 3px;
   color: #1B2432;
   height: 30px;
   margin-top: 10px;
   width: 75%;
   font-size: 20px;
 }

 .task-list-item{
   padding: 10px;
   border-bottom: 1px solid #CDCFD2;
   position: relative;

 }

 .checkmark{
   font-size: 13px;
   position: absolute;
   float: left;
   color: #CDCFD2;
   border: 1px solid #CDCFD2;
   border-radius: 50%;
   padding: 3px 6px;
   bottom: 6px;
   transition: all 0.3s ease;
   transition-property: color, -webkit-box-shadow, border;
 }

 .checkmark:hover{
   color: #3BE8B0;
   -webkit-box-shadow: 0 0 0 3px #3BE8B0;
   border: 1px solid #fff;
 }

 .delete{
   float: right;
 }

 .add-task{
   display: block;
   clear: both;
   color: #fff;
   background-color: #1AAFD0;
   float: left;
   text-align: center;
   width: 40px;
   height: 30px;
   border-radius: 3px;
   top: 2px;
   left: 2px;
   transition: all 0.3s ease;
   transition-property: background, -webkit-box-shadow;
 }

 .add-task:hover{
   background: #02CEFF;
   -webkit-box-shadow: 0 0 0 3px #80E6FF;
 }
