/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html, body, header, nav, h1, a,
 ul, li, strong, main, button, i,
 section, img, div, h2, p, form,
 fieldset, label, input, textarea,
 span, article, footer, time, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-family: 'Montserrat', sans-serif;
   color: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   box-sizing: inherit;
   background: transparent;
 }

 ul {
   list-style: none;
 }

 img {
   display: block;
   width: 100%;
   height: auto;
 }

 input[type="password"],
 input[type="email"],
 input[type="text"],
 input[type="submit"],
 textarea,
 button {
   -webkit-appearance: none;
   -moz-appearance: none;
 }

 button,
 input[type="submit"] {
   cursor: pointer;
 }

 /* Clearfix */

 .group:after {
   content: "";
   display: block;
   clear: both;
 }

 .top-header{
   display: block;
   height: 50px;
   width: 100%;
   min-width: 700px;
 }

 .placeholder{
   float:left;
 }

 .log-in{
   top: 50%;
   transform: translateY(50%);
   float: right;
 }

 .login-link{
   width: 70px;
   position: relative;
   text-align: center;
   color: #696969;
   display: inline-block;
   height: 20px;
   font-size: 16px;
   padding:  5px 5px;
   background-color: #fff;
   border: 1px solid #6a67ce;
   border-radius: 3px;
   text-align: center;
   top: 50%;
   right: 25px;
   bottom: 5px;
   transition: all 0.5s ease;
   transition-property: -webkit-box-shadow, background-color, color, border;
 }

 .login-link:hover{
   background-color: #696969;
   color: #fff;
   -webkit-box-shadow: 0 0 0 2px #4d4d4d;
   border: 0px;
 }

 .signup{
   position: relative;
   text-align: center;
   color: #fff;
   display: inline-block;
   height: 20px;
   font-size: 16px;
   padding:  5px 5px;
   background-color: #6a67ce;
   border: 1px solid #6a67ce;
   border-radius: 3px;
   text-align: center;
   top: 50%;
   right: 25px;
   bottom: 5px;
   margin-left: 25px;
   transition: all 0.5s ease;
   transition-property: background-color, -webkit-box-shadow;
 }

 .signup:hover{
   background-color: #7d26cd;
   -webkit-box-shadow: 0 0 0 2px #9b30FF;
 }

 .pretty{
   text-align: center;
   color: white;
   font-size: 40px;
   height: 600px;
   width: 100%;
       /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffc019+0,ff7b9c+40,fc7279+73 */
    background: rgb(255,192,25); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,192,25,1) 0%, rgba(255,123,156,1) 40%, rgba(252,114,121,1) 73%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,192,25,1) 0%,rgba(255,123,156,1) 40%,rgba(252,114,121,1) 73%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(255,185,0,.6) 0%,rgba(252,99,107,.7) 40%,rgba(252,109,146,1) 70%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc019', endColorstr='#fc7279',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
 }

 .below-header{
   position: relative;
   top: 75px;
   padding:50px;
   display: block;
 }

 .footer{
   text-align: center;
   color: black;
   font-size: 30px;
   height: 300px;
   display: block;
   width: 100%;
   bottom: 0px;
 }

 .login{
   position: absolute;
   top: 0px;
   left: 0px;
   right: 0px;
   bottom: 0px;
   margin: auto;
   background: rgba(0, 0, 0, 0.4);
 }

 .twitter{
   width: 50%;
   margin-left: 30%;
   margin-bottom: 30px;
 }
 .login-header{

 }

 .login-form{

   position: absolute;
   padding: 80px;
   height: 400px;
   width: 300px;
   background: rgba(255, 255, 255, 0.9);
   border-radius: 4px;
   left: 50%;
   top: 50%;
   transform: translateY(-50%) translateX(-50%);
 }

 .form-heading{
   position: relative;
   text-align: center;
   font-size: 40px;
   font-weight: 400;
   margin-bottom: -20px;
 }

 .field{
   color: #898e95;
   font-size: 12px;
   font-weight: 200;
   padding: 10px;
 }

 .form-fields{
  position: relative;
  top: 50px;
  right: 15px;
 }

 .form-fields > div {
   text-align: center;
   margin-left: 30px;
   margin-bottom: 25px;
   color: #b19999;
}

 .username, .password{
   background-color: #fff;
   border: 1px solid #CDCFD2;
   border-radius: 3px;
   color: #1B2432;
   height: 40px;
   margin: 5px;
   padding: 0 10px;
   width: 100%;
   font-size: 20px;
 }

 .log-submit{
   position: relative;
   color: #fff;
   background-color: #1AAFD0;
   float: right;
   text-align: center;
   width: 40.5%;
   height: 39px;
   border-radius: 3px;
   top: 90px;
   left: 15px;
   transition: all 0.3s ease;
   transition-property: background, -webkit-box-shadow;
 }

 .log-submit:hover{
   background: #02CEFF;
   -webkit-box-shadow: 0 0 0 3px #80E6FF;
 }

 .empty{
   height: 15px;
   background: #fff;
 }

 .whole-page{

 }

 .sidebar{
   float: left;
   background-color: #2E3C54;
   top: 0;
   left: 0;
   bottom: 0;
   position: absolute;
   padding: 0 2px;
   height: 100%;
   width: 240px;
   z-index: 0;
 }

 .sidebar > div{
   color: #fff;
   text-align: center;

 }

 .upward-dog-main {
   float: left;
   overflow: hidden;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 244px;
   width: calc(100% - 244px);
 }

 .task-header{
   display: block;
   height: 60px;
   text-align: center;
   font-family: 'Montserrat', sans-serif;
   -webkit-box-orient: horizontal;
   -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.9);
   padding-bottom: 10px;
 }

 .task-header > h1{
   vertical-align: middle;
 }

 .user-logo-header{
   background: #fc91ad;
   border-radius: 50%;
   font-weight: bold;
   font-size: 12px;
   text-transform: uppercase;
   width: 24px;
   padding: 8px 7px;
   margin-right: 10px;
   color: #fff;
 }

 .user-logo{
   background: #fc91ad;
   border-radius: 50%;
   font-weight: bold;
   font-size: 12px;
   text-transform: uppercase;
   width: 24px;
   padding: 8px 7px;
   margin-right: 10px;
   color: #fff;
 }

 .task-container{
   padding: 15px;
   background: #eee;
   top: 72px;
   bottom: 0px;
   left: 0px;
   right: 0px;
   display: block;
   position: absolute;
 }

 .task-main-unclicked{
   float: left;
   position: relative;
   background: #fff;
   border-radius: 3px;
   -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
   padding: 2px;
   width: calc(100%);
   text-align: center;
   height: 100%;
   bottom: 0;
 }

 .task-main-clicked{
   float: left;
   position: relative;
   background: #fff;
   border-radius: 3px;
   -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
   padding: 2px;
   width: calc(50% - 110px);
   text-align: center;
   height: 100%;
   bottom: 0;
 }

 .task-list{
   background: #fff;
   padding: 0 20px;
 }

 .task-form{
   float: right;
   position: relative;
   background: #fff;
   border-radius: 3px;
   -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
   padding: 2px;
   width: calc(50% - 25px);
   height: 100%;
   bottom: 0;
 }

 .new-task-list{
  list-style: none;
  padding: 10px 20px;
 }

 .new-task{
   float: left;
   background-color: #fff;
   border-bottom: 1px solid #CDCFD2;
   color: #1B2432;
   height: 30px;
   width: calc(100% - 20px);
   font-size: 15px;
   text-align: left;
   padding-left: 20px;
}


 .task-list-item{
   height: 30px;
   padding: 5px;
   border-bottom: 1px solid #CDCFD2;
   position: relative;
   vertical-align: -webkit-baseline-middle;
 }

 .task-list-item > Link {
   display: block;
   position: absolute;
 }

 .checkmark{
   font-size: 13px;
   position: absolute;
   float: left;
   color: #CDCFD2;
   border: 1px solid #CDCFD2;
   border-radius: 50%;
   padding: 3px 6px;
   bottom: 6px;
   transition: all 0.3s ease;
   transition-property: color, -webkit-box-shadow, border;
 }

 .checkmark:hover{
   color: #3BE8B0;
   -webkit-box-shadow: 0 0 0 3px #3BE8B0;
   border: 1px solid #fff;
 }

 .delete{
   float: right;
   position: relative;
   top: 10px;
 }

 .edit-list{
   padding: 20px;
 }

 .edit-header{
   border-bottom: 1px solid #ccc;
   padding: 20px;
 }
 .edit-list > li {
   float: left;
   width: 75%;
   padding: 10px 0;
 }

 .edit-list > li > input{
   float: left;
   position:relative;
   padding: 5px 10px 5px 5px;
   width: 100%;
   margin-left: 10px;
 }

 .edit-list > li> input:hover,
 .edit-list > li> textarea:hover{
   border: 1px solid #ccc;
   border-radius: 3px;
 }

 .edit-list > li > input:focus
 .edit-list > li> textarea:hover{
   border: 1px solid #ccc;
   border-radius: 3px;
 }

 .title > input{
   font-size: 24px;
   left: 30px;
 }

 .checkmark-edit {
   font-size: 18px;
   position: absolute;
   float: left;
   color: #CDCFD2;
   border: 1px solid #CDCFD2;
   border-radius: 50%;
   padding: 3px 7px;
   bottom: 15px;
   transition: all 0.3s ease;
   transition-property: color, -webkit-box-shadow, border;
 }

 .checkmark-edit:hover{
   color: #3BE8B0;
   -webkit-box-shadow: 0 0 0 3px #3BE8B0;
   border: 1px solid #fff;
 }

 .title{
   position: relative;
 }

 .description {
   float: left;
   margin-left: 30px;
 }

 .description > textarea{
   padding: 5px 10px 5px 5px;
   height: 40px;
   width: 100%;
   font-size: 14px;
   margin-left: 10px;
 }

 .update-submit{
   text-align: center;
   border-top: 1px solid #ccc;
   width: 100%;
 }

 .new-project-button{
   position: relative;
   text-align: center;
   color: #fff;
   display: inline-block;
   height: 32px;
   font-size: 21px;
   padding:  5px 15px;
   background: linear-gradient(to top right, #fc636b, #ff6d92 35%, #ffb900 100%);
   border: 1px solid #6a67ce;
   border-radius: 50%;
   text-align: center;
   top: 50%;
   right: 25px;
   bottom: 5px;
   margin-top: 50px;
   margin-bottom: 50px;
   margin-left: 120px;
   transition: all 0.5s ease;
   transition-property: background-color, -webkit-box-shadow;
 }

 .new-project-button:hover{
   background-color: #7d26cd;
   -webkit-box-shadow: 0 0 0 2px #9b30FF;
 }

.project-list-item{
  color: #E1E2E4;
  font-weight: 200;
  font-size: 14px;
  margin: 10px 25px;
}

.project-list-item > button {
  width: 50px;
  position: relative;
  color: #6969FF;
  display: inline-block;
  height: 13px;
  font-size: 10px;
  padding:  0px 5px;
  background-color: transparent;
  border: 1px solid #6a67ce;
  border-radius: 3px;
  margin-right: 10px;
  text-align: center;
  transition: all 0.5s ease;
  transition-property: -webkit-box-shadow, background-color, color;
}

.project-list-item > button:hover{
  border: 0px;
  background-color: #02CEFF;
  -webkit-box-shadow: 0 0 0 3px #80E6FF;
  color: #fff;
}

.projects-form{
  background: #2E3C54;
  height: 350px;
  width: 450px;
  margin: auto;
  color: #E1E2E4;
  border-radius: 3px;
  top: 100px;
  position: relative;
  z-index: 1;
}

.projects-form > h1{
  text-align: center;
  margin-bottom: 30px;
  padding-top: 15px;
}

.projects-form-fields{
  margin: 20px;
  display: block;
}

.projects-fields{
  display: block;
  margin-bottom: 10px;
}

.projects-form-input{
  border: 1px solid;
  padding: 8px;
  width: 90%;
  border-radius: 3px;
  font-size: small;
  display: block;
}

.projects-form-span{
  display: block;
  font-size: larger;
  margin-bottom: 4px;
}

.projects-form-submit{
  position: relative;
  color: #fff;
  background-color: #1AAFD0;
  text-align: center;
  width: 110px;
  height: 35px;
  border-radius: 3px;
  left: 170px;
  transition: all 0.3s ease;
  transition-property: background, -webkit-box-shadow;
}

.projects-form-submit:hover{
  background: #02CEFF;
  -webkit-box-shadow: 0 0 0 3px #80E6FF;
}
